*{
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 2rem;
    padding: .5rem;
    border-bottom: solid black 2px ;
}

header h1{
    font-size: 1rem;
}

header a{
    display: flex;
    text-decoration: none;
    align-items: center;
}

main fieldset{
    display:flex;
    justify-content: center;
    margin: 2rem;
    padding: 2rem;
}
main fieldset div{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
}
div h2{
    font-size: 2rem;
    font-weight: bold;
    padding: .5rem;
    margin: .5rem;
}
div p{
    display: flex;
    justify-content: center;
}

 ul{
    display: flex;
    flex-wrap: unwrap;
    flex-direction: column;
    justify-content: center;
    padding: .5rem;
    margin: .5rem;
}
 ul li{
    list-style: none;
    border: solid black 2px;
    background: black;
    padding: 0.5rem 2rem;
    margin: 0.5rem;
    color: white;
}