*{
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 2rem;
    padding: .5rem;
    border-bottom: solid black 2px ;
}

header h1{
    font-size: 1rem;
}

header a{
    display: flex;
    text-decoration: none;
    align-items: center;
}
#highscore, button, ul li:hover{
    cursor: pointer;
    
}
main fieldset{
    display:flex;
    justify-content: center;
    margin: 2rem;
    padding: 2rem;
}
#container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    
}
#container div{
    display: flex;
    justify-content: space-evenly;
}
div h2{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    padding: .5rem;
    margin: .5rem;
}
div p{
    display: flex;
    justify-content: center;
}

 ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .5rem;
    margin: .5rem;
}
 ul li{
    list-style: none;
    border: solid black 2px;
    background: black;
    padding: 0.5rem 2rem;
    margin: 0.5rem;
    color: white;
    width: fit-content;
}
form{
    padding: .5rem;
    margin: .5rem;
}
form *{
    padding: .5rem;
    margin: .5rem;
}
button{
    width: 4rem;
    height: fit-content;
}
.startButton{
    width:4rem;
    height:2rem;
}
